.Blog-ExpenseTracker{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Context{
    width: 100%;
    padding: 0 5%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Contributors-Container{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    width: 100%;
    padding: 5%;
    /* background-color: white; */
}
.contributor{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    background-color: white;
    box-shadow:  -1px -1px 14px lightgray,
    5px 5px 24px white;
    border-radius: 10px;
}
.contributor-img{
    padding: 1rem;
    width: 50%;
    height: 40%;
    margin-top: -3.5rem;
    margin-left: 2rem;
    box-shadow: inset 2px 2px 5px gray,inset -2px -2px 5px gray;
    border-radius: 100%;
    background-color: white;
}
.contributor-img img{
    width:100%;
    border-radius: 50%;
}
.cardBody{
    height: 60%;
    padding: 2rem;
    padding-top: 1rem;
}
.cardBody h3{
    font-family: "Nunito Sans",sans-serif;
    color:#31344b;
    font-weight: 550;
    font-size: x-large;
    letter-spacing: 1px;

}
.cardBody h6{
    font-family: "Nunito Sans",sans-serif;
    margin-top: .5rem;
    font-size: medium;
    font-weight: 400;
    letter-spacing: .5px;
}
.cardBody div {
    margin: 1.1rem 0;
}
.cardBody div img{
    aspect-ratio: 3/4;
    width: 25px;
    height: 25px;
    margin-right: .8rem;
    cursor: pointer;
}
.cardBody p{
    font-family: "Nunito Sans",sans-serif;
    font-size: medium;
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}
