@media only screen and (max-width: 650px) {
  body {
    /* background-color: black; */
    overflow: hidden;
  }
  * {
    color: black;
  }
  #navbar {
    background: rgba(52, 53, 65, 1);
    width: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0px;
  }
  .items {
    background: rgba(52, 53, 65, 1);
    width: 100%;
    list-style: none;
    display: none;
    grid-template-columns: repeat(1, 10%);
    z-index: 0;
    overflow: hidden;
  }
  .portfolio-icon{
    display: none;
  }
  .list-item {
    padding: 0.8rem 0px;
    background: rgb(61, 63, 75);
    width: 100%;
    color: white;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    z-index: 100;
    top: 0px;
    left: 0px;
    position: relative;
  }
  .line {
    background: white;
  }
}
