body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* background: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80") no-repeat; */
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  background: black;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 5rem;
  padding: 0 5%;
  box-shadow: 0px 0.5px 12px #acaaaa;
  /* background-color: rgba(255, 255, 255, 0.397); */
  /* backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%); */
  z-index: 1;
}


.portfolio-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.items {
  list-style: none;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  width: 48%;
  grid-gap: 1%;
  grid-template-columns: repeat(4, 18%);
}

nav ul li {
  display: inline;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 650;
  color: #fff;
  /* backdrop-filter: blur(10px);
        color: transparent;
        text-shadow: 0 0 8px #000; */
  display: block;
}

/* the hamburger  styles starts from here */
.hamburger {
  display: none;
}

.line {
  width: 2.2rem;
  height: 0.18rem;
  margin: 4px 2px;
  border-radius: 1px;
  background-color: black;
}

/* keyframes for hamburger */
@keyframes animation {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes reverse-animation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 1;
    height: 80px;
  }
  100% {
    opacity: 1;
    height: 327px;
  }
}
@keyframes navbar-reverse-animation {
  0% {
    opacity: 1;
    height: 327px;
  }
  100% {
    opacity: 1;
    height: 80px;
  }
}

.Home {
  background: black;
  padding-top: 5em;
  display: grid;
  /* justify-content: center; */
  /* background: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80") no-repeat; */
}

video{
  width: 40rem;
  height: 28rem;
  /* border: 2px solid green; */
  /* position: relative; */
}
.typeanime{
  position: absolute;
  display: flex;
  width: 100%;
  /* justify-content: center; */
  height: 14rem;
  align-items: center;
  /* border: 2px solid white; */
}

.typewriter{
  display: flex;
  width: 30rem;
  height: 100%;
  flex-direction: column;
  /* align-items: space-around; */
  justify-content: space-between;
  /* border: 2px solid blue; */
  margin-left: 6%;
}
.hand-shake {
  /* width: 3rem; */
  height: 3rem;
  animation: shake 1s infinite;
  margin: 2rem ;
  margin-top: .18rem;
  margin-bottom: .82rem;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px) rotate(-6deg); }
  50% { transform: translateX(6px) rotate(6deg); }
  75% { transform: translateX(-6px) rotate(-6deg); }
  /* 95% { transform: translateX(5px) rotate(5deg); } */
  100% { transform: translateX(0); }
}
#typing-text {
  animation:  typing-animation 7s infinite;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .5px;
  /* font-weight: 500; */
  /* color: #00FFFF; */
  /* font-family: 'Poppins', sans-serif !important; */
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  padding-left: 1rem;
}

.title{
  font-weight: bolder;
  letter-spacing: .4px;
  font-size: 38px;
  /* line-height: .5; */
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  margin: 1rem;

}
.main{
  font-weight: 500;
  color: #00FFFF;
  /* color: #FF00FF;
  color: #00FF00;
  color: #FF0000;
  color: #0000FF; */

}
/* New keyframes for the class-based animations */
@keyframes typing-animation {
  0% { width: 0 }
  1% {width: .1%;}
  /* 90% { width: 90% } */
  100% { width: 100% }
}

.About{
 display: none;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)); 
  justify-items: space-around;
  grid-gap: 5%; 
  overflow: auto;
  justify-items: center;
  padding: 3.5rem 0rem;
  /* height: 100vh; */
  /* padding: 0 1rem; */
}

/* cards design */
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 85%;
  height: auto;
  background-color: #0d6efd;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 15px;
}
.card:hover{
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.534);
}

.card-image {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.5%;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 91%;
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 5px;
  transition: bottom 0.3s ease;
}

.card:hover .project {
  bottom: 0;
  z-index: 1; 
}

.project-title {
  display: flex;
  width: 90%;
}
.project-description {
  font-size: 14px;
  padding: 8% 0%;
  display: flex;
  flex-wrap: wrap;
}
.button {
  display: block;
  color: white;
  cursor: pointer;
  background: #0d6efd;
  border: 2px solid #0d6efd;
  width: 35%;
  font-size: 13.5px;
  padding: 3%;
  border-radius: 5px;
  font-weight: 600;
}
.button:hover {
  color: #0d6efd;
  background: white;
  border: 2px solid #0d6efd;
}
.btn{
  width: 9rem;
  margin-top: 1rem;
  height: 2.5rem;
  cursor: pointer;
  background: #000;
  border: 1.5px solid #ff96ad;
  color: white;
  border-radius: 2px;
}
.btn:hover{
  background: #ff96ad;
  transition-duration: 0.5s;
}
.Contact{
  width: 100%;
  padding: 5%;
  display: none;
}
.gradient-border {
  width: 40%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  border: 4px solid;
  border-image: linear-gradient(to right, red, purple) 1;
  border-image-slice: 1;
  border-radius: 8px;
}

.inputs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}
.input-values{
 background-color: #000;
 color: white;
 outline: none;
 width: 50%;
}


