body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* background: url("https://media.istockphoto.com/id/157639184/photo/gloomy-winterland.webp?s=612x612&w=0&k=20&c=nXuEQCULPlu7siVgEKtrEOeXXkLPfShm2o7jImYVgN4=")
    no-repeat; */
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  background: #333;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 5rem;
  padding: 0 5%;
  box-shadow: 0px 0.5px 12px #acaaaa;
  background-color: rgba(255, 255, 255, 0.397);
  backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
  z-index: 1;
}


.portfolio-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.items {
  list-style: none;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  width: 48%;
  grid-gap: 1%;
  grid-template-columns: repeat(4, 18%);
}

nav ul li {
  display: inline;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 650;
}

/* the hamburger  styles starts from here */
.hamburger {
  display: none;
}

.line {
  width: 2.2rem;
  height: 0.18rem;
  margin: 4px 2px;
  border-radius: 1px;
  background-color: black;
}

/* keyframes for hamburger */
@keyframes animation {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes reverse-animation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 1;
    height: 80px;
  }
  100% {
    opacity: 1;
    height: 327px;
  }
}
@keyframes navbar-reverse-animation {
  0% {
    opacity: 1;
    height: 327px;
  }
  100% {
    opacity: 1;
    height: 80px;
  }
}

.Home {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

video{
  width: 40rem;
  height: auto;
}
.typeanime{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 22rem;
  align-items: center;
}
.typewriter{
}

#typing-text {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: none;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
}

/* New keyframes for the class-based animations */
@keyframes typing-animation {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret-animation {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* Add new classes for animations */
.typing-animation {
  animation: typing-animation 3.5s steps(30, end);
}

.remove-typing-animation {
  animation: none;
  border-right: .15em solid transparent;
}

h3 span{
  opacity: 0;
  display: inline-block;
  animation: animate;
}

.About {
  width: 100%;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)); 
  justify-items: space-around;
  grid-gap: 1rem; 
  overflow: auto;
  /* padding: 0 1rem; */
}

/* cards design */
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 17.16rem;
  background-color: #0d6efd;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 15px;
}


.card-image {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.5%;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 91%;
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 5px;
  transition: bottom 0.3s ease;
}

.card:hover .project {
  bottom: 0;
  z-index: 1; 
}

.project-title {
  display: flex;
  width: 90%;
}
.project-description {
  font-size: 14px;
  padding: 8% 0%;
  display: flex;
  flex-wrap: wrap;
}
.button {
  display: block;
  color: white;
  cursor: pointer;
  background: #0d6efd;
  border: 2px solid #0d6efd;
  width: 35%;
  font-size: 13.5px;
  padding: 3%;
  border-radius: 5px;
  font-weight: 600;
}
.button:hover {
  color: #0d6efd;
  background: white;
  border: 2px solid #0d6efd;
}
